#popup{
    .restPopup{
        width:100vw;
        .popup-title{
            display:flex;
            justify-content: space-around;
            align-items: center;
            p{
                color:#26a2ff;
            }
             
        }
    }
}