.Mark{
    .mint-cell-wrapper{
        .mint-cell-text::before{
            content:"*  ";
            color:#f00
        }
 }
}

.bmShowSelect {

    .Mark{
        .mint-cell-wrapper{
            padding:0
        }
    }
}

.bmShowSelect>a.mint-cell>div.mint-cell-wrapper>div.mint-cell-title{
    display: none;
}
#index{
    .body{
        .mint-swipe-indicator{
            opacity: 1;
            background: #E6E6E6;
        }
        .mint-swipe-indicator.is-active{
            background: #333;
        }
       
    }

 
}
.mint-swipe>.mint-swipe-indicators{
    bottom:2px
}

.mint-tabbar > .mint-tab-item.is-selected {
    background-color: #fff;
    .mint-tab-item-label{
        color:#333;
    }
   
}