.Mark {
  .mint-cell-wrapper {
    .mint-cell-text::before {
      content: "*  ";
      color: #f00;
    }
  }
}

#index {
  .body {
    .van-swipe__indicators {
      bottom: 0.22rem;
      .van-swipe__indicator {
        opacity: 1;
        background: #e6e6e6;
      }
      .van-swipe__indicator--active {
        background: #333;
      }
    }
  }
}

.toastStyle {
  .van-toast__text {
    color: #fff !important;
  }
}
