#untreated{
 
    .mint-navbar{
        .mint-tab-item{
            border:1px solid #1387f4 !important;
            color: #1387f4 ;
            
        }
        .is-selected{
            color: #fff ;
            background-color: #1387f4;
        }
    }
  
  
}